{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h2 class="mb-5 text-center bitcount-grid-double-mine display-3">AudioKit</h2>
<p class="mb-5 text-center">
  AudioKit is a platform for audio processing and analysis. It provides a range
  of tools for audio transcription, translation, and more.
</p>

<div class="row gap-4 justify-content-center">
  <div class="col col-sm-12 col-md-6 card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Speech-to-Text</h5>
      <p class="card-text">
        Convert speech to text using our advanced speech recognition models.
      </p>
      <a href="/speech-to-text" class="btn btn-primary">Try Now</a>
    </div>
  </div>

  <div class="col col-sm-12 col-md-6 card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Text-Translation</h5>
      <p class="card-text">
        Translate text from one language to another using our advanced
        translation models.
      </p>
      <a href="/text-translation" class="btn btn-primary btn-outline"
        >Try Now</a
      >
    </div>
  </div>

  <div class="col col-sm-12 col-md-6 card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Video Captioning</h5>
      <p class="card-text">
        Generate captions for videos using our advanced video captioning models.
      </p>
      <a href="/caption-generator" class="btn btn-primary btn-outline"
        >Try Now</a
      >
    </div>
  </div>
</div>
{% endblock %}
